@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  height: auto;
  font-family: 'Poppins', sans-serif;
}

.container {
  font-style: normal;
  background: #fff;
  border-bottom-left-radius: 100px;
  padding-bottom: 30px;
}

.header-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em auto;
  margin-top: 0;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background: #fff;
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-right: 0.2em;
  cursor: pointer;
}

.mobile-nav {
  position: absolute;
  top: 1%;
  width: 100%;
  height: 100vh;
  left: 0;
  display: none;
  background-color: rgba(46, 63, 221, 0.8);
  backdrop-filter: blur(7px);
  animation-name: animatemobilebackground;
  animation-duration: 0.5s;
}

@keyframes animatemobilebackground {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 1%;
    opacity: 1;
  }
}

.mobile-cancel {
  position: absolute;
  right: 3.5%;
  top: 1%;
  height: 31px;
  cursor: pointer;
}

.mobile-nav-list {
  position: absolute;
  top: 6%;
  left: 8%;
}

.mobile-item-nav {
  list-style: none;
  margin-bottom: 15%;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.mobile-item-nav a {
  text-decoration: none;
  color: #fff;
}

.header-nav {
  display: none;
}

.vector {
  width: 20px;
  height: 3px;
  background-color: #6070ff;
  border-radius: 8px;
  list-style-type: none;
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: url('./images/header-shapes-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.introduction {
  font-weight: 700;
  font-size: 3rem;
  line-height: 52px;
  width: 100%;
  height: max-content;
  color: #172b4d;
  padding-top: 2.5em;
  margin-bottom: 1rem;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
  margin-bottom: 1rem;
}

.connect {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 1rem;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  cursor: pointer;
  list-style-type: none;
  padding-bottom: 5rem;
}

/* Media Query for desktop screens on the hero section */

@media (min-width: 768px) {
  header {
    margin-bottom: 0;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
  }

  header::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .hero + header::after {
    opacity: 1;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 50%;
  }

  .header-nav {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .hero {
    padding-left: 20px;
    padding-right: 10px;
    background-image: url('./images/desktop/desk-header.png');
    background-repeat: no-repeat;
    background-size: calc(100% - 1%) calc(100% - 16%);
    background-position: center center;
    display: flex;
    justify-content: center;
    height: 90vh;
  }

  .introduction {
    width: 60%;
    font-size: 48px;
    line-height: 60px;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
  }

  .item-nav {
    list-style: none;
    margin-right: 30px;
    color: #344563;
  }

  .item-nav a {
    text-decoration: none;
    color: #344563;
  }

  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

.projects {
  margin: 20% 6% 10% 6%;
  display: grid;
  grid-template-columns: auto;
}

.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 7px;
}

.project-experience {
  display: flex;
  font-size: 13px;
  align-content: start;
  gap: 30px;
  margin-bottom: 20px;
}

.first-list {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.other-list {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.project-summary {
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin-bottom: 10px;
}

.projects .card {
  margin-bottom: 35px;
}

.tech-stack {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  /* overflow-x: hidden; */
}

.tech-stack li {
  list-style: none;
  padding: 4px 12px;
  background: #ebebff;
  color: #6070ff;
  letter-spacing: 0.03em;
  border-radius: 8px;
}

.btn-primary-outline {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  background-color: transparent;
  color: #396df2;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.btn-primary-outline-inverse {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
  color: #396df2;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 20px;
}

.card .image img {
  width: 100%;
  height: 100%;
}

/* Desktop project version */

@media (min-width: 768px) {
  .projects {
    margin: 10% 10% 5% 10%;
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease;
  }

  .projects .card {
    margin-bottom: 8%;
  }

  .card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #a7aeff;
  }

  .card .image {
    width: 50%;
    height: 100%;
  }

  .card-image {
    margin-right: 20px;
    width: 100%;
    height: 100%;
  }

  .card-content {
    margin-left: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  .card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 20px;
  }

  .project-experience {
    margin-bottom: 20px;
  }

  .first-list {
    color: #344563;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .other-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .project-summary {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .tech-stack {
    gap: 8px;
    margin-bottom: 20px;
  }

  .card-inverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

.about {
  background-color: #fff;
  border-top-right-radius: 90px;
  padding: 30% 20px 200px 20px;
}

.about-container .socials {
  padding-bottom: 15px;
}

.about-container .connect {
  margin-bottom: 10px;
}

.about-summary {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.languages {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.languages-list {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.about-container .language-name li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f9;
  margin-bottom: 10px;
  border-radius: 8px;
  gap: 20px;
}

hr {
  border-color: #dfe1e6;
}

.btn-primary-outline:hover {
  color: #fff;
  background-color: #6070ff;
  transition: 1s ease-in-out;
}

.btn-primary-outline-inverse:hover {
  color: #fff;
  background-color: #6070ff;
  transition: 1s ease-in-out;
}

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about {
    padding: 9% 5px 200px 10%;
  }

  .about-container {
    display: flex;
  }

  .about-left {
    width: 40%;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-title {
    margin-bottom: 0;
  }

  .about-summary {
    margin-bottom: 0;
  }

  .about-container .connect {
    margin-bottom: 0;
  }

  .about-container .socials {
    padding-bottom: 0;
  }

  .about-right {
    width: 60%;
    margin-left: 24px;
  }

  .languages {
    margin-top: 17px;
  }

  .language-name {
    display: flex;
  }

  .about-container .language-name li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    background-color: #f7f7f9;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 8px;
    gap: 20px;
    height: 124px;
    width: 112px;
  }

  .about hr {
    width: 90%;
  }
}

.contact {
  background: #fff;
  position: relative;
}

.contact-form {
  background: #6070ff;
  border-top-left-radius: 90px;
  width: 100%;
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
}

.contact-image {
  position: absolute;
  width: 58%;
  height: calc(100% - 20px);
  right: 0;
  top: 20px;
}

@media (max-width: 767px) {
  .desktop-contact-image {
    display: none;
  }
}

.contact-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.contact-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 10px;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
}

textarea::placeholder {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  .contact {
    position: relative;
  }

  .desktop-contact-image {
    position: absolute;
    width: calc(100% - 6%);
    height: calc(100% - 40px);
    right: 50px;
    top: 40px;
  }

  .contact-form {
    padding: 0% 21% 4% 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }

  .contact-heading {
    margin-top: 16%;
  }

  .contact-text {
    padding-left: 26%;
    padding-right: 26%;
  }

  .form-input {
    border-radius: 2px;
  }

  .contact-button {
    display: flex;
    justify-content: center;
  }

  .contact-image {
    display: none;
  }
}
